html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background: #f1f1f1;
    font-size: 10px;
    font-family: "Helvetica Neue", "Arial", "sans-serif";
    margin:0;
    padding:0;
}
